Repository melheffe/yatchcash: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

.lintstagedrc:

{
  "packages/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "packages/**/*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "packages/**/*.{ts,tsx}": [
    "bash -c 'cd $(dirname \"$0\") && npm run type-check'"
  ]
}

🔧 Fix all critical linting errors for deployment
  .cursor/rules/yatchcash-rules.mdc
  packages/admin-panel/src/App.tsx
  packages/admin-panel/src/components/Layout/AppShell.tsx
  packages/admin-panel/src/components/Layout/Navigation.tsx
  packages/admin-panel/src/pages/Dashboard.tsx
  packages/admin-panel/src/providers/AuthProvider.tsx
Due: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

🔧 Add missing tsconfig.json to captain-pwa
  packages/captain-pwa/tsconfig.json
Due: prettier --write

🔧 Fix TypeScript project references for deployment
  packages/captain-pwa/tsconfig.json
  packages/shared/tsconfig.json
Due: prettier --write

🔧 Fix unused React import in captain-pwa
  packages/captain-pwa/src/App.tsx
Due: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

🔧 Fix frontend application serving and linting errors
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

🔧 Fix duplicate route error causing server crash
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

🔧 Fix linting errors in static file serving
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

🔧 Add @fastify/static plugin registration
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

Fix static file serving in captain and tenant dashboards
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

Create complete Captain PWA with login and dashboard
  packages/captain-pwa/src/App.css
  packages/captain-pwa/src/App.tsx
Due: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

Fix asset loading paths for captain PWA and tenant dashboard
  packages/captain-pwa/vite.config.ts
  packages/tenant-dashboard/vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

Add PWA icons for admin panel
  packages/admin-panel/public/pwa-192x192.png
  packages/admin-panel/public/pwa-512x512.png
  packages/admin-panel/public/yacht-icon.svg
Due: none

Fix API URL configuration for production deployment
  packages/admin-panel/src/config.ts
  packages/tenant-dashboard/src/config.ts
Due: eslint --fix, prettier --write, bash -c 'cd $(dirname "$0") && npm run type-check'

Add missing favicon for tenant dashboard
  packages/tenant-dashboard/public/vite.svg
Due: none

Fix tenant authentication for demo users
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

Fix tenant authentication for demo users - fallback lookup
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write

Fix route registration order - API routes before static files
  packages/api/src/minimal-server.js
Due: eslint --fix, prettier --write
